.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .products img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .products h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .products p {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .products h4 {
    font-size: 18px;
  }

  .details{
    text-align: center;
  }
  