/* .form{
    width: 50%;
    margin: 0 auto;
}

.form >input{
    padding:12px 20px;
    width: 70%;
    border: solid 2px rgb(237, 17, 17);
    border-radius: 5px;
    font-size: 1rem;
}



.but{
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: rgb(6, 69, 16);
    border-radius: 5px;
    color: white;
} */

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form input[type="text"],
  .form input[type="file"],
  .form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
  }
  
  .form button:hover {
    background-color: #45a049;
  }